doctype html

script.
  function addTextInput() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "text");
    x.setAttribute("name", "command");
    x.setAttribute("value", "");
    document.getElementById('editForm').appendChild(x);
  }

html
  head
    title Edit task
    style
     include style.css
  body
    div.wrapper
      div.outer-card
        div.inner-card
          h1 Edit task
          a(href='/') Back
          form( action = '/task/edit', method = 'POST', id = 'editForm')
            div.input
              div.input
              label Select image type
              select(name="type", id="type")
                option(value="Random Upscaled image") Random Upscaled image
                option(value="Selected image") Selected image
                option(value="The third image") The third image
                option(value="Random Max Upscaled image") Random Max Upscaled image
              p Commands in task:
              div.task
                each el, i in element.commands
                  input(type="text", name="command", value=el.command, id=id)
                  if el.selectedImage
                    //- a(href=el.selectedImage) #{el.selectedImage}
                    iframe(src=el.selectedImage+"/preview" width="640" height="480" allow="autoplay")
                input(type="hidden", name="id", value=id)
            input( type = 'submit', value = 'Save')