doctype html

script.
  function test() {
    document.getElementById("progress-div").style.display = "block"
    document.getElementById("progress-p").style.display = "block"
  }

html
  head
    title Midjourney tasks
    style
     include style.css
  body
    div.progress(id='progress-div')
      p.progress(id='progress-p') Task is in progress. Please, wait...
    div.wrapper
      div.outer-card
        div.inner-card
          h1 Create new task for a bot
          div.task
            form( action = '/task/create', method = 'POST')
              div
                label Google Spreadsheet ID:
                input(type="text", name="link_id", value='')
                input(type="hidden", name="link_id_auto", value='1xo1pPdUhZsM-ScDQasyaplNycysGV7dhrlJr4Vdl1mo')
              div
                label Select image type:
                select(name="type", id="type")
                  option(value="Random Upscaled image") Random Upscaled image
                  option(value="Selected image") Selected image
                  option(value="The third image") The third image
                  option(value="Random Max Upscaled image") Random Max Upscaled image
              div
                input( type = 'submit', value = 'Create')
                input( type = 'submit', value = 'Create Without ID')
          h1 Pending review images
          div.task
            p=`Number of images to review: ${pending_images.length}`
            if pending_images.length>0
              a(href='task/images/review?id=0') Review
            p=`Number of images to upscale: ${pending_upscales.length}`
            if pending_upscales.length>0
              a(href='/task/image/upscale' onclick='test()') Run
          h1 Existing tasks
          each task,i in tasks
            div.task
              p=`Number of commands in task: ${task.commands.length}`
              p=`Task type: ${task.type}`
              a(href=`/task/run?id=${i}` onclick='test()') Run
              a(href=`/task/open?id=${i}`) Edit
              a(href=`/task/delete?id=${i}`) Delete
            div