doctype html

html
  head
    title Select Image
    style
     include style.css
  body
    div.wrapper
      div.outer-card
        div.inner-card
          h1 Select Image
          a(href='/') Back
          each image,i in images
            div.task
              p=`Command: ${image.command}`
              img(src=image.url)
              div
                a(href=`/task/image/select?id=${image.commandId}&image=0`) Image 1
                a(href=`/task/image/select?id=${image.commandId}&image=1`) Image 2
                a(href=`/task/image/select?id=${image.commandId}&image=2`) Image 3
                a(href=`/task/image/select?id=${image.commandId}&image=3`) Image 4
            div